@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Só pode acessar está página que tem o segredo.</p>

@{
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Você só pode ver isso se tiver permissão de adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context,"Produtos", "Adicioonar")
</div>

<div>
    <br />
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos","Adiccionar"))">Excluir</a>
</div>

