################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinhaDemoMvc/obj/Release/net5.0
