################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MinhaDemoMvc/obj/Release/net5.0
/MinhaAppVS/obj/Release/net5.0
/AppModelo/src/DevIO.UI.Site/obj/Release/net5.0
